.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 13px;
  }
body{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  th.ant-table-cell{
    font-family:Roboto2;
  }
  .img-type{
    width: 25px;
    height: 25px;
  }
  .ant-table-row{
    cursor: pointer;
  }

  .btn-up-new{
    background: none;
    background-color: white !important;
    border-radius: 24px !important;
    
    
  }
  button.MuiButton-root{
    color: rgb(109, 109, 109);
    text-transform: none;
    font-weight: 600;
    font-size: 15px;
  }

  
  